.chats-box {
  background-color: #242424;
  overflow-y: scroll;
}

.chats-box::-webkit-scrollbar {
  display: none;
}
.chat-box {
  width: 100%;
}

.chats-title {
  padding: 1em 0 1em 0;
  color: #ffffff;
  background-color: #242424;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
}
.chats-title span {
  padding: 0 1em 0 1em;
}

.friend-profile {
  padding: 1em;
  background-color: #2b2b2b;
  margin: 1px 0 1px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend-profile-box {
  display: flex;
  flex-direction: row;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  color: #ffffff;
}

.friend-name {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  font-size: 1em;
}
.friend-last-msg {
  font-size: 0.8em;
  opacity: 0.5;
}
.last-update {
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0.5;
}
.friend-image {
  width: 4em;
  height: 4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 5em;
  min-width: 4em;
}

.friend-profile-btns {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.friend-profile-btn {
  padding: 0.5em;
  background-color: #333333;
  flex: 1;
}

.accept-request-btn {
  color: #fff;
  background-color: rgb(61, 218, 126);
}

.reject-request-btn {
  color: #fff;
  background-color: rgb(218, 66, 61);
}

.accept-request-btn:active {
  background-color: rgb(40, 139, 81);
}
.reject-request-btn:active {
  background-color: rgb(150, 44, 41);
}
